# Environments
.env
.env.local
.env.*.local

# Virtual Environments
venv/
.venv/
env/
ENV/
bin/
include/
lib/
share/
pyvenv.cfg

# Logs
logs
3: *.log
4: npm-debug.log*
5: yarn-debug.log*
6: yarn-error.log*
7: pnpm-debug.log*
8: lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
